diffusers
einops
fpsample
h5py
hydra-core
lightning
# mani_skill==3.0.0b12  # Already installed in environment, skipping to avoid dependency conflicts
numba
numpy
omegaconf
pandas
pygame
pymunk
pytorch_lightning
robomimic
scipy
termcolor
tqdm
wandb
prefetch_generator